@page
@model FeedMe.Views.Cart.Index

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Shopping Cart</title>
</head>
<body>
<div>
    <h1>Your Shopping Cart</h1>
</div>
</body>
</html>