@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Newtonsoft.Json.Linq
@model IEnumerable<FeedMe.Models.Restaurant>
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu</h2>
<table class="table">
    <thead>
    <tr>
        <th>
            Number
        </th>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
        <th>
            Price
        </th>
        <th>
                
        </th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
    <tbody>
    @{ int count = 1;
        
        var item_id = "";
        var item_name = "";
        var item_price = "";
        
        foreach (var item in Model)
        {
            @foreach (var i in item.menu)
             {
                 <tr>
                     <td>
                         @Html.DisplayFor(modelItem => count)
                     </td>

                     @foreach (var j in i)
                     {

                         if (j.Name != "_id")
                          {
                              <td>
                                  @Html.DisplayFor(modelItem => j.Value.AsString)
                              </td>
                          }
                          else
                          {
                              item_id = j.Value.AsObjectId.ToString();
                          }
                         
                         if (j.Name == "name")
                          {
                              item_name = j.Value.AsString;
                          }

                         if (j.Name == "price")
                         {
                             item_price = j.Value.AsString;
                         }
                     }
                     <td>
                         @Html.ActionLink("Add", "Add", new { id=item_id, name=item_name, price=item_price, rest_id=item.Id })
                     </td>

                 </tr>
                 count++;
             }
        }
    }
    </tbody>
</table>