@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<FeedMe.Models.Restaurant>
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Price</th>
        </tr>
    </thead>
</table>

<h1>Menu</h1>
<table class="table">
    <thead>
    <tr>
        <th>
            Number
        </th>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
        <th>
            Price
        </th>
        <th>
                
        </th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
    <tbody>
    @{ int count = 1;
        var item_id = ""; 
        foreach (var item in Model)
        {
            @foreach (var i in item.menu)
             {
                 <tr>
                     <td>
                         @Html.DisplayFor(modelItem => count)
                     </td>

                     @foreach (var j in i)
                     {

                         @if (j.Name != "_id")
                          {
                              <td>
                                  @Html.DisplayFor(modelItem => j.Value.AsString)
                              </td>
                          }
                          else
                          {
                              item_id = j.Value.AsObjectId.ToString();
                          }
                     }
                     <td>
                         @Html.ActionLink("Add", "Add", "Restaurant",new { id=item_id })
                     </td>

                 </tr>
                 count++;
             }
        }
    }
    </tbody>
</table>