@model IEnumerable<FeedMe.Models.Restaurant>
@{

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Menu</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int count = 1;
        foreach (var item in Model)
        {
            item.menuGenerator();

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.menu)
                </td>
                <td>
                    @Html.ActionLink("Add", "Add", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        count++;

    }
        }
    </tbody>
</table>