@model IEnumerable<FeedMe.Models.Restaurant>
@{

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <thead>
        <tr>
            <th>
                Restaurant Name
            </th>
            <th>   
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var item_id = "";
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.ActionLink("Detail", "Detail", new { id=item.Id })
                    </td>
                </tr>
            }
        }
    </tbody>
    </table>